@model IEnumerable<MyPham_Client_WebApp.Models.San_Pham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header {
    Danh Sách Sản Phẩm
}

<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Sản Phẩm
            </header>
            <div class="panel-body">
                <div class="btn-group">
                    <a href="@Url.Action("Insert","SanPham")">
                        <button class="btn green">
                            Thêm Mới <i class="fa fa-plus"></i>
                        </button>
                    </a>
                </div>
                <div class="adv-table">
                    <table class="table-hover table table-bordered table-striped table-condensed" id="dynamic-table">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Hình Ảnh</th>
                                <th width="500px">Tên Sản Phẩm</th>
                                <th>Danh Mục</th>
                                <th>Số Lượng</th>
                                <th>Trạng Thái</th>
                                <th width="200px">Thao Tác</th>
                            </tr>
                        </thead>
                        @*<tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ID_SP</td>
                                    <td>
                                        <img src="@Url.Content("~/Content/Images/Pro/" +item.Hinh_Anh) " style="width: 50px; height: 50px">
                                    </td>
                                    <td>@item.Ten_SP</td>
                                    <td>@Html.DisplayFor(modelItem => item.ID_Loai)</td>
                                    <td>@item.So_Luong</td>
                                    <td>
                                        <a class="btn btn-xs btn-success delete-link" href="@Url.Action("Details", new { id = item.ID_SP })">
                                            <i class="fa fa-eye"></i> Xem
                                        </a>
                                        <a class="btn btn-xs btn-info" href="/Admin/Product/Edit/@item.ID_SP">
                                            <i class="fa fa-pencil"></i> Sửa
                                        </a>
                                        <a class="btn btn-xs btn-danger delete-link " data-toggle="modal" href="@Url.Action("Delete", new { id = item.ID_SP })">
                                            <i class="fa fa-trash-o"></i> Xóa
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>*@
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>


